In [2]:
# Importing Libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from datasets import load_dataset

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df.sample(10)

              job_title_short  ...                                    job_type_skills
144145   Senior Data Engineer  ...  {'analyst_tools': ['ssis'], 'cloud': ['azure',...
412577           Data Analyst  ...                                               None
562166      Software Engineer  ...  {'programming': ['php', 'python', 'go', 'java'...
209156           Data Analyst  ...                                               None
426729  Senior Data Scientist  ...  {'analyst_tools': ['tableau', 'power bi'], 'cl...
144301         Data Scientist  ...                                               None
461792          Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['hadoop', 'py...
575021          Data Engineer  ...  {'cloud': ['azure', 'gcp', 'databricks'], 'lib...
474692  Senior Data Scientist  ...                                 {'cloud': ['aws']}
6012             Data Analyst  ...  {'analyst_tools': ['sas', 'power bi', 'excel',...

[10 rows x 17 columns]

In [9]:
df.sample(10, random_state=42)

              job_title_short  ...                                    job_type_skills
502901   Senior Data Engineer  ...  {'cloud': ['azure'], 'other': ['git'], 'progra...
406337  Senior Data Scientist  ...  {'analyst_tools': ['looker'], 'cloud': ['bigqu...
659951          Data Engineer  ...                                               None
541593           Data Analyst  ...                                {'async': ['jira']}
425158   Senior Data Engineer  ...                        {'programming': ['python']}
183426           Data Analyst  ...  {'analyst_tools': ['tableau'], 'cloud': ['orac...
287790           Data Analyst  ...  {'analyst_tools': ['excel'], 'libraries': ['ha...
541983           Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau', 'qli...
416896         Data Scientist  ...                                               None
780907          Data Engineer  ...  {'analyst_tools': ['alteryx'], 'cloud': ['orac...

[10 rows x 17 columns]

In [10]:
dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

In [11]:
df_altered = df_original

In [13]:
df_altered.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [14]:
median_salary = df_altered['salary_year_avg'].median()

In [16]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)
df_altered.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [18]:
df_original.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [19]:
id(df_original)

2517317577104

In [20]:
id(df_altered)

2517317577104

In [21]:
dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

In [22]:
df_altered = df_original.copy()

In [23]:
id(df_original) == id(df_altered)

False

In [26]:
median_salary = df_altered['salary_year_avg'].median()

In [27]:
median_salary

115000.0

In [28]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

In [29]:
df_altered.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [30]:
df_original.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64